<nav class="navbar navbar-expand-sm bg-success navbar-dark">
    <ul class="navbar-nav">
        <b class="fa fa-home  w3-xxlarge"></b>
        <h4 class='align'><strong>{{header}}</strong></h4>
        <li class="nav-item align"><b style="color:white;" class="nav-link btn btn-outline-dark" routerLink="home"
                routerLinkActive="active"><strong>HOME</strong></b></li>
        <li class="nav-item align"><b style="color:black;" class="nav-link btn btn-outline-warning"
                routerLink="/add-sudent" routerLinkActive="active"><strong>ADD
                </strong></b></li>
    </ul>
</nav>

<div class="bg-light">
    <router-outlet></router-outlet>
</div>