
<div class="container">
    <div class="row">
        <div class="col-sm-4" *ngFor="let student of studentlist">
            <div class="card" style="margin-top: 10px;">
                <div ngClass="card-body">
                    <p class="card-text">Name : {{student.name}}</p>
                    <p class="card-text"> Student Id : {{student.id}}</p>
                    <p class="card-text"> Gender : {{student.gender}}</p>
                    <a routerLink="/edit-student/{{student.id}}" routerLinkActive="active"
                        class="btn btn-primary">Edit</a>
                    <button (click)="deleteStudent(student.id)" type="button"
                        class="btn btn-danger align">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>